.FavoritePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FavoritePage h1 {
    color: white;
}

.cardDetails{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cardFavorite{
    width: 60%;
    margin: auto;
    margin-top: 30px; 
    border-radius: 25px;
    font-size: 1.6em;  
}

.cardFavorite h4 {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.cardFavorite b , p {
    padding-top: 30px;
}

.favoriteContainer{
    background-color: #41399b;
    border-radius: 25px;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;   
}

.deleteButton {
    background: none;
    border: none;
    margin-right: 3rem; 
}

.deleteButton:hover {
    background: none;
    border: none;  
    color : #ffd1d1
}

.deleteButton span {
    color: white;
    font-size: large;
}

@media (max-width: 767px) {
     .favoriteContainer{
        width: 80%;
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
    }  

    .cardDetails{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cardFavorite h4 {
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
    }

    .cardFavorite b {
        font-size: xx-large;
        margin-bottom: 2rem;
    }

    .cardFavorite b , p {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 5px;
    }

    .deleteButton span { 
        font-size: x-large;
    }

    .deleteButton {
       margin-bottom: 1.5rem;
       margin: auto;
    
    }   
}

