nav{
    text-align: center;
    padding: 60px;
}

.header .anticon{
    width: 200px;
    color: #ffffff;
}

.header svg{
    width: 2.5em;
    height: 2.5em;
}

@media (max-width: 748px) {
    .header .anticon{
        width: 100px;
    }
    
    .header svg{
        width: 1.5em;
        height: 1.5em;
    }
    
}