.localWeather{
    /* background: linear-gradient(#6b66bd, #00d4ff); */
    background: #5152b5;
    color: #ffffff;
    background-attachment: fixed;
    padding-bottom: 40px;
}

.localWeather h3{
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 3em;
    font-weight: bold;
    color: white;
}

.localWeather .details p{
    font-size: 2em;
    color: white;
    margin-bottom: 70px;
}

.localWeather h1 {
    color : white;
}

hr{
    width: 70%;
    margin-bottom: 60px;
}

.previsionnel{
    margin-bottom: 60px;
    font-size: 2.5em;
}