body {
    background-color: #5152b5;
    width: 100%;
    font-style: roboto;
}

.search {
    padding-bottom: 40px;
}

.search .title {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 4rem;   
    font-size: xx-large;
}

.search p{
    display: flex;
    justify-content: center;
    color: white;
    font-size: x-large;
}

.searchBar{
    width: 40%;
    margin: auto;
    margin-top: 2rem;  
}

.ant-btn, .ant-btn-primary, .ant-input-search-button, .ant-input-group-addon {
    border-top-right-radius: 999px !important;
    border-bottom-right-radius: 999px !important ;
    height: 50px;
}

.ant-input {
    border-radius: 999px;
    width: 3rem;
    height: 50px;
    font-size: x-large;
    padding-left: 2rem;
}

.resultSearch h3 { 
    margin-bottom: 0;
    font-size: 3em;
    font-weight: bold;
    color: white;  
}

.resultSearch, .resultSearch h1 {
    text-align: center;
    color: white;
}

.iconHeart svg{
    width: 2em;
    height: 2em;  
}

.iconHeart {
    text-align: end;
}

.resultSearch {
    width: 100%;
    margin-top: 50px;
}

.contentResult {
    width: 20%;
    margin : auto;
}

@media (max-width: 767px) {
    .search .title {  
        font-size: x-large;
        margin-top: 0; 
    }

    .search p{
        margin-top: 0;
        font-size: medium;
        text-align: center;
    }

    .searchBar{
        width: 70%;
    }

    .ant-input {
        height: 30px;
        font-size: medium;
        padding-left: 2rem;
    
    }

    .ant-btn, .ant-btn-primary, .ant-input-search-button, .ant-input-group-addon {
        height: 30px;
    }

    .iconHeart svg{
        width: 1.5em;
        height: 1.5em; 
        margin-bottom: 1.5rem ; 
    }

    .iconHeart {
        text-align: center;
        
    }

    .resultSearch h3 { 
        margin-bottom: 0;
        font-size: 2em;
        font-weight: bold;
        color: white;  
    }

    .resultSearch p { 
        padding-top: 0;
    }

    .contentResult {
        width: 50%;
        margin : auto;
    }
}