@import '~antd/dist/antd.css';


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


nav{
  text-align: center;
  padding: 60px;
}

.header .anticon{
  width: 200px;
  color: #ffffff;
}

.header svg{
  width: 2.5em;
  height: 2.5em;
}

@media (min-width: 481px) and (max-width: 767px) {
  .header .anticon{
      width: 100px;
      color: #ffffff;
  }
  
  .header svg{
      width: 1.5em;
      height: 1.5em;
  }
  
}


@media (max-width: 480px) {
  .header .anticon{
      width: 100px;
      color: #ffffff;
  }
  
  .header svg{
      width: 1.5em;
      height: 1.5em;
  }
  
}